# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/pod_install_lockfile

# Android
android/key.properties
android/*.keystore
android/app/src/main/assets/flutter_assets/kernel_blob.bin

# IntelliJ
.idea/

# Visual Studio Code
.vscode/

# Documentos
/docs/adm/

# Archivos de configuración de herramientas locales
.fvm/
fvm_config.json
patrol.yaml

# Archivos generados por scripts
/lib/arbol.txt
/lib/tree-*.txt

# Archivos de sistema operativo
.DS_Store

# Secret files
scripts/serviceAccountKey.json
